*{
    margin: 0;
    padding: 0;
}

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
    img {
    border-style: none;
  }

    button,
  input { /* 1 */
    overflow: visible;
  }
    ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }